# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/secrets.toml

# Database
*.db
*.sqlite3
data/sqlite/*.db
!data/sqlite/.keep

# OS
.DS_Store

# Scraping
data/chrome_profile/
*.log
