streamlit
flask
selenium
beautifulsoup4
webdriver_manager
spacy
scikit-learn
pandas
pymupdf
transformers
torch
tesseract
pytesseract
fake-useragent
requests
sqlalchemy
google-generativeai
razorpay
razorpay
scrapy
python-jobspy
django
kivy
pyqt6
numpy
nltk
